<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>



<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<h1 style="color:red">Comments:</h1>


<div id="post-comments">
  <% @post.comments.each do |comment| %>
    <%= render 'comments/comment', comment:comment %>
  <% end %>
</div>
<%= render 'comment_form', post: @post, comment: Comment.new %>